
:root {
    --white-color: #fff;
    --text-color: #ccc;
    --black-color: #000;
}

.navbar {
    height: 10rem;

}

.navbar__first {
    height: 3rem;
    margin: 1rem 3rem;
}

.first-row__left-content {
}

.left-content__icon-content {

}

.icon-content__first-content {
    
}

.first-content__icon {

}

.icon-content__first-content {
    position: relative;
}

.icon-content__first-content::before {
    content: "";
    height: 1.3rem;
    border: 2rem;
    width: 0.1rem;
    background-color:var(--text-color);
    position:absolute;
    left: -1rem;
}

/* .icon-content__first-content::after {
    content: "";
    height: 1.3rem;
    border: 2rem;
    width: 0.1rem;
    background-color:var(--text-color);
    position:absolute;
    right: 89%;
    top: -20%;
} */

.first-content__tell {
    display: inline-block;
    margin-left: 0.3rem;
}

.first-row__right-content {
    float: right;
}

.navbar__seccond {
    height: 5rem;

}

.navbar__third {
    height: 2rem;

}